<!DOCTYPE html>
<html>
  <head>
    <title>Github Dating Simulator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="https://s-media-cache-ak0.pinimg.com/favicons/46729ab4cdaf1885548a650c644cb29b29004b5db075da3d7096c4bc.png?2780280b8c064ced9a563e0c16e03563"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
